* {
    font-size: 82px;
    text-align: center;
    font-family: Helvetica;
    text-transform: uppercase;
    font-style: italic;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}